<MudNavMenu >
    <div class="w-full  lg:flex flex-col items-center gap-2 mt-6">
        <img class=" cursor-pointer w-48 object-contain my-4" src="../img/logo.7e4a0211.png" alt="">

        <div class="w-full  flex items-center justify-center px-3">
            <NavLink ActiveClass="w-full bg-nr text-white"
                     class="py-2 flex items-center gap-2 px-2 text-gray-50 rounded-md hover:text-white hover:bg-tabelle w-full"
                     style="text-decoration-line:none"
                     href="#">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M128 496H48V304h80zm224 0h-80V208h80zm112 0h-80V96h80zm-224 0h-80V16h80z"></path></svg>
                Dashboard
            </NavLink>
        </div>
        <div class="w-full  flex items-center justify-center px-3">
            <NavLink ActiveClass="w-full bg-nr text-white"
                     class="py-2 flex items-center gap-2 px-2 text-gray-50 rounded-md hover:text-white hover:bg-tabelle w-full"
                     style="text-decoration-line:none"
                     href="document">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M20 2H8c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h12c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2zM8 16V4h12l.002 12H8z"></path><path d="M4 8H2v12c0 1.103.897 2 2 2h12v-2H4V8zm11-2h-2v3h-3v2h3v3h2v-3h3V9h-3z"></path></svg>
                New Document
            </NavLink>
        </div>
        <div class="w-full  flex items-center justify-center px-3">
            <NavLink ActiveClass="w-full bg-nr text-white"
                     class="py-2 flex items-center gap-2 px-2 text-gray-50 rounded-md hover:text-white hover:bg-tabelle w-full"
                     style="text-decoration-line:none"
                     href="purchase">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M13.707 3.293A.996.996 0 0 0 13 3H4a1 1 0 0 0-1 1v9c0 .266.105.52.293.707l8 8a.997.997 0 0 0 1.414 0l9-9a.999.999 0 0 0 0-1.414l-8-8zM12 19.586l-7-7V5h7.586l7 7L12 19.586z"></path><circle cx="8.496" cy="8.495" r="1.505"></circle></svg>
                Purchase Document
            </NavLink>
        </div>
        <div class="w-full  flex items-center justify-center px-3">
            <NavLink ActiveClass="w-full bg-nr text-white"
                     class="py-2 flex items-center gap-2 px-2 text-gray-50 rounded-md hover:text-white hover:bg-tabelle w-full"
                     style="text-decoration-line:none"
                     href="sales">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M21.41 11.41l-8.83-8.83c-.37-.37-.88-.58-1.41-.58H4c-1.1 0-2 .9-2 2v7.17c0 .53.21 1.04.59 1.41l8.83 8.83c.78.78 2.05.78 2.83 0l7.17-7.17c.78-.78.78-2.04-.01-2.83zM6.5 8C5.67 8 5 7.33 5 6.5S5.67 5 6.5 5 8 5.67 8 6.5 7.33 8 6.5 8z"></path></svg>
                Sales Document
            </NavLink>
        </div>
        <div class="w-full  flex items-center justify-center px-3 " style="text-decoration:none">
            <NavLink ActiveClass="w-full bg-nr text-white"
                     class="py-2 flex items-center gap-2 px-2 text-gray-50 rounded-md hover:text-white hover:bg-tabelle w-full"
                     style="text-decoration-line:none"
                     href="swap">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M6.99 11L3 15l3.99 4v-3H14v-2H6.99v-3zM21 9l-3.99-4v3H10v2h7.01v3L21 9z"></path></svg>
                Resource Swap
            </NavLink>
        </div>
    </div>
    <div class=" flex flex-col items-start justify-start gap-14 pl-5">
        <div>
            <p class=" font-medium text-white text-sm">© Obius 2022</p>
            <p class=" text-gray-300 text-xs mt-2 pr-5">Obius ERP provides infrastructure for Web3</p>
        </div>
    </div>
</MudNavMenu>