@page "/purchase"
@using Obius.DigitalInvoice.Pages.Components

<PageTitle>PurchaseDocument</PageTitle>

<div class="pb-10">
    <div class="pl-3 pr-3 lg:pl-16 lg:pr-24">
        <h1 class=" text-3xl  text-white w-full text-center pb-10 pt-6">
            <span class=" text-nr">Purchase </span>  Documents
        </h1>
        <h1 class=" text-3xl  text-white ">
            <span class=" text-nr">Open</span>  Purchase Documents
        </h1>
        <OpenInvoices></OpenInvoices>
        <h1 class=" text-3xl  text-white  mt-5">
            <span class="text-nr">Closed</span>   Purchase Documents
        </h1>
        <ClosedInvoices></ClosedInvoices>
    </div>
</div>