<tr style="background:#242834">
    <td class="px-6 py-3 whitespace-nowrap">
        <p>#</p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p>-</p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 text-blue-500 whitespace-nowrap">
        <p>Closed</p>
    </td>
    <td class="px-6 py-3 text-blue-500 cursor-pointer whitespace-nowrap">
        <a target="_blank" href="#">

        </a>
    </td>
</tr>