<tr style="background:#242834">
    <td class="px-6 py-3 whitespace-nowrap">
        <p>#</p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p>-</p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 whitespace-nowrap">
        <p></p>
    </td>
    <td class="px-6 py-3 text-blue-500 whitespace-nowrap">
        <button class=" px-2 py-0,5 flex items-center gap-2 text-white bg-nr rounded-md border-1 border-rahmen shadow-lg hover:bg-blue-500">
            Pay
        </button>
    </td>
    <td class="px-6 py-3 text-blue-500 cursor-pointer whitespace-nowrap">
        <a target="_blank" href="#">

        </a>
    </td>
</tr>